<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="common.menu">

	<select id="getMainMenuList" parameterType="map" resultType="map">
		SELECT menu_idx as menuIdx
			   , menu_nm as menuNm
			   , menu_path as menuPath
		FROM daou_admin_menu (nolock)
		WHERE menu_lv = #{menuLv}
			<if test="parentMenuIdx != null and parentMenuIdx != 0">
			AND parent_menu_idx = #{parentMenuIdx}
			</if>
		ORDER BY sort_order ASC
	</select>
	
	<select id="getMenuAuth" parameterType="map" resultType="com.daou.admin.common.vo.MenuAuthVO">
		SELECT auth.is_retrieve_yn as isRetrieveYn
			, auth.is_write_yn as isWriteYn
			, auth.is_download_yn as isDownloadYn
		FROM daou_admin_menu menu (nolock)
			INNER JOIN daou_admin_menu_auth auth (nolock)
				ON menu.menu_idx = auth.menu_idx
		WHERE menu.menu_path = #{menuPath}
			AND auth.dept_idx = #{userDept}
			AND auth.role_idx = #{userRole}
	</select>

</mapper>